p{
    font-size: 200%;
    text-align: center;
}

.sobre{
    font-size: 150%;
    text-align: center;
    margin-top: 200px;
}

.contato{
    font-size: 150%;
    text-align: center;
    margin-top: 10px;
}

.projeto{
    font-size: 150%;
    text-align: center;
    margin-top: 10px;
}

.quem{
    font-size: 1000%;
    text-align: center;
    margin-top: 75px;
}
