p{
    font-size: 200%;
    text-align: center;

}

h1{
    font-size: 100%;
    text-align: center;
    margin-top: 1%;
}

img{
    margin-left: 38.75%;
}

.equipe{
    text-align: center;
    margin-top: 5%;
}

body{
    background-color: red;
}